<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ERP MENU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/js/lib/mui/css/mui.min.css">
</head>

<body>

    <div class="mui-content">
        <%- menuHtml%>

    </div>
    <script src="/static/js/lib/mui/js/mui.min.js"></script>
</body>

</html>