<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/static/js/lib/mui/css/mui.min.css">
    <link href="/static/js/lib/mui/css/mui.picker.css" rel="stylesheet" />
    <link href="/static/js/lib/mui/css/mui.dtpicker.css" rel="stylesheet" />
    <link href="/static/js/lib/mui/css/mui.poppicker.css" rel="stylesheet" />
</head>
<body>
    <nav class="mui-bar mui-bar-tab">

        <%- btnsHtml%>
    </nav>
    <div class="mui-content">
        <div id="listTab" class="mui-control-content mui-active">
            <div id='listPageHeight'></div>
            <div id="listPage" class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul class="mui-table-view mui-table-list mui-table-view-chevron cmpage-list"></ul>
                </div>
            </div>
        </div>
        <div id="searchTab" class="mui-control-content">
            <ul class="mui-table-view mui-table-view-chevron">
                <form id="searchForm" class="mui-input-group cmpage-search" onSubmit="return false;">
                    <%- queryHtml%>
                </form>
                <button class="mui-btn mui-btn-primary mui-btn-block" onclick="return doSearch();">搜索</button>
                <button class="mui-btn mui-btn-grey mui-btn-block" style="margin-top: 10px;" onclick="resetSearch();">重置</button>
            </ul>
        </div>

    </div>
</body>
<script src="/static/js/lib/mui/js/mui.js"></script>
<script src="/static/js/lib/mui/js/city.data-3.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/lib/mui/js/mui.picker.js"></script>
<script src="/static/js/lib/mui/js/mui.poppicker.js"></script>
<script src="/static/js/lib/mui/js/mui.dtpicker.js"></script>
<script src="~/static/js/hh/app.js"></script>
<script src="~/static/js/hh/cmpage.js"></script>
<script src="~/static/js/hh/cmpage/cmpage-show.js"></script>
</html>
