
<div class="bjui-pageHeader">
    <div class="bjui-searchBar">
        <label>模块名称：</label><input name="c_modulename" type="text" size="15" readonly value="<%= md.c_modulename%>"  />&nbsp;
        <label>数据来源：</label><input name="c_datasource" type="text" size="15" readonly value="<%= md.c_datasource%>"  />&nbsp;
        <label>数据表:</label><input name="c_table" type="text" size="15" readonly value="<%= md.c_table%>"  />&nbsp;
        <a type="button" class="btn btn-orange" href="/cmpage/module/query_reset?moduleid=<%= md.id%>" data-toggle="doajax" data-confirm-msg="是否增加默认的查询列设置？">重新设置</a>
        <a  class="btn btn-orange"  href="#" onclick="return modulePreview('<%= md.c_modulename%>');">--预览--</a>&nbsp;
        <button type="button" class="btn-green" data-toggle="tableditadd" data-target="#moduleQueryList" data-num="1" data-icon="plus">添加查询列</button>&nbsp;
        <a type="button" class="btn btn-default" href="/cmpage/module/query_delete_no_show?moduleid=<%= md.id%>" data-toggle="doajax" data-confirm-msg="是否确定要删除不显示的条目？">删除非显示项</a>
        <div class="pull-right">
            <button type="button" class="btn-green" data-icon="save" onclick="$('#commpageQueryForm').submit();">保存设置</button>
            <button type="button" class="btn-close" data-icon="external-link">关 闭</button>
        </div>
    </div>
</div>
<div class="bjui-pageContent">
    <form id="commpageQueryForm" action="/cmpage/module/query_save" class="pageForm" data-toggle="validate" data-alertmsg="false">
        <input name="c_module" type="hidden" value="<%= md.id%>"  />
        <table id="moduleQueryList" class="table table-bordered table-hover table-striped table-top" data-toggle="tabledit" data-initnum="0" >
            <thead>
            <tr data-idname="editList[#index#].id">
                <th title="顺序"><input type="text" name="editList[#index#].c_order" data-rule="required" value="20" size="2" onkeyup="javascript:testNum(this);"></th>
                <th title="标题"><input type="text" name="editList[#index#].c_name" data-rule="required" value="" size="5"></th>
                <th title="数据列"><input type="text" name="editList[#index#].c_column" data-rule="required" value="" size="5"></th>
                <th title="数据类型">
                    <select name="editList[#index#].c_coltype" data-toggle="selectpicker" data-rule="required">
                        <% vb.colTypes.forEach(function(item){ %>
                        <option value="<%= item%>" ><%= item%> </option>
                        <% })%>
                    </select>
                </th>
                <th title="说明"><input type="text" name="editList[#index#].c_desc" data-rule="required" value="" size="5"></th>
                <th title="是否显示"><input type="checkbox" name="editList[#index#].c_isshow" class="j-icheck" data-toggle="icheck" value="true"></th>
                <th title="操作符">
                    <select name="editList[#index#].c_op" data-toggle="selectpicker" data-rule="required">
                        <% vb.operations.forEach(function(item){ %>
                        <option value="<%= item.op%>" ><%= item.des%> </option>
                        <% })%>
                    </select>
                </th>
                <th title="默认值"><input type="text" name="editList[#index#].c_default"  value="" size="5"></th>
                <th title="编辑类型">
                    <select name="editList[#index#].c_type" data-toggle="selectpicker" data-rule="required">
                        <% vb.queryTypes.forEach(function(item){ %>
                        <option value="<%= item.value%>" ><%= item.text%> </option>
                        <% })%>
                    </select>
                </th>
                <th title="显示格式"><input type="text" name="editList[#index#].c_format" value="" size="5"></th>
                <th title="编辑样式"><input type="text" name="editList[#index#].c_style"  value="" size="5"></th>
                <th title="宽度"><input type="text" name="editList[#index#].c_width" data-toggle="spinner" data-rule="required" value="15" size="5" onkeyup="javascript:testNum(this);"></th>
                <th title="后缀元素"><input type="text" name="editList[#index#].c_suffix"  value="" size="5"></th>
                <th title="备注"><textarea name="editList[#index#].c_memo" data-toggle="autoheight" rows="1"></textarea></th>
                <th title="MUI"><textarea name="editList[#index#].c_mui" data-toggle="autoheight" rows="1"></textarea></th>

                <th title="" data-addtool="false" >

                </th>
            </tr>
            </thead>
            <tbody>
            <% vb.editList.forEach(function(item){ %>
                <tr data-id="<%= item.id%>" data-edit-always="true">
                    <td ><%= item.c_order%> </td>
                    <td ><%= item.c_name%></td>
                    <td ><%= item.c_column%></td>
                    <td data-val="<%= item.c_coltype%>"><%= item.c_coltype%></td>
                    <td ><%= item.c_desc%></td>
                    <td data-val="<%= (item.c_isshow || item.c_isshow == 1 ? 'true':'false')%>">Y</td>
                    <td data-val="<%= item.c_op%>"><%= item.c_op%></td>
                    <td ><%= item.c_default%></td>
                    <td data-val="<%= item.c_type%>"><%= item.c_type%></td>
                    <td ><%= item.c_format%></td>
                    <td ><%= item.c_style%></td>
                    <td ><%= item.c_width%></td>
                    <td ><%= item.c_suffix%></td>
                    <td ><%= item.c_memo%></td>
                    <td ><%= item.c_mui%></td>
                    <td data-noedit="true">
                        <a href="/cmpage/module/delete?id=<%= item.id%>&table=t_module_query&flag=true" class="btn btn-red row-del" data-confirm-msg="确定要删除该行信息吗？">删</a>
                    </td>
                </tr>
            <% })%>
            </tbody>
        </table>
    </form>
</div>

