<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%= vb.title%></title>
  <meta name="Keywords" content="cmpage,defans"/>
  <meta name="Description" content="cmpage by defans@sina.cn"/>

  <!-- <link href="/static/css/index.css" rel="stylesheet"> -->
    <!-- <link rel="apple-touch-icon-precomposed" href="/static/assets/ico/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"> -->

    <!-- bootstrap - css -->
    <link href="/static/bjui/themes/css/bootstrap.css" rel="stylesheet">
    <!-- core - css -->
    <link href="/static/bjui/themes/css/style.css" rel="stylesheet">
    <link href="/static/bjui/themes/blue/core.css" id="bjui-link-theme" rel="stylesheet">
    <link href="/static/bjui/themes/css/fontsize.css" id="bjui-link-theme" rel="stylesheet">
    <!-- plug - css -->
    <link href="/static/bjui/plugins/niceValidator/jquery.validator.css" rel="stylesheet">
    <link href="/static/bjui/plugins/bootstrapSelect/bootstrap-select.css" rel="stylesheet">
    <link href="/static/bjui/plugins/webuploader/webuploader.css" rel="stylesheet">
    <link href="/static/bjui/themes/css/FA/css/font-awesome.min.css" rel="stylesheet">

    <!--[if lte IE 7]>
    <link href="/static/bjui/themes/css/ie7.css" rel="stylesheet">
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lte IE 9]>
    <script src="/static/bjui/other/html5shiv.min.js"></script>
    <script src="/static/bjui/other/respond.min.js"></script>
    <![endif]-->
    <!-- jquery -->
    <script src="/static/bjui/js/jquery-1.11.3.min.js"></script>
    <script src="/static/bjui/js/jquery.cookie.js"></script>
    <!--[if lte IE 9]>
    <script src="/static/bjui/other/jquery.iframe-transport.js"></script>
    <![endif]-->

    <!-- B-JUI -->
    <script src="/static/bjui/js/bjui-all-min.js"></script>
    <!-- plugins -->
    <!-- swfupload for kindeditor -->
    <!-- <script src="/static/bjui/plugins/swfupload/swfupload.js"></script> -->
    <!-- Webuploader -->
    <script src="/static/bjui/plugins/webuploader/webuploader.js"></script>
    <!-- kindeditor -->
    <!-- <script src="/static/bjui/plugins/kindeditor_4.1.11/kindeditor-all-min.js"></script>
    <script src="/static/bjui/plugins/kindeditor_4.1.11/lang/zh-CN.js"></script> -->
    <!-- colorpicker -->
    <!-- <script src="/static/bjui/plugins/colorpicker/js/bootstrap-colorpicker.min.js"></script> -->

    <!-- ztree 需要时加载-->
    <!-- <script src="/static/bjui/plugins/ztree/jquery.ztree.all-3.5.js"></script> -->
    <!-- nice validate -->

    <script src="/static/bjui/plugins/niceValidator/jquery.validator.js"></script>
    <script src="/static/bjui/plugins/niceValidator/jquery.validator.themes.js"></script>
    <!-- bootstrap plugins -->
    <script src="/static/bjui/plugins/bootstrap.min.js"></script>
    <script src="/static/bjui/plugins/bootstrapSelect/bootstrap-select.min.js"></script>
    <script src="/static/bjui/plugins/bootstrapSelect/defaults-zh_CN.min.js"></script>
    <!-- icheck -->
    <script src="/static/bjui/plugins/icheck/icheck.min.js"></script>
    <!-- HighCharts -->
    <!-- <script src="/static/bjui/plugins/highcharts/highcharts.js"></script>
    <script src="/static/bjui/plugins/highcharts/highcharts-3d.js"></script>
    <script src="/static/bjui/plugins/highcharts/themes/gray.js"></script> -->
    <!-- other plugins -->
    <script src="/static/bjui/plugins/other/jquery.autosize.js"></script>
    <link href="/static/bjui/plugins/uploadify/css/uploadify.css" rel="stylesheet">
    <script src="/static/bjui/plugins/uploadify/scripts/jquery.uploadify.min.js"></script>
    <script src="/static/bjui/plugins/download/jquery.fileDownload.js"></script>
    <!-- init -->
    <script type="text/javascript">
        $(function() {
            BJUI.init({
                JSPATH       : '/static/bjui/',         //[可选]框架路径
                PLUGINPATH   : '/static/bjui/plugins/', //[可选]插件路径
                loginInfo    : {url:'login_timeout.html', title:'登录', width:440, height:240}, // 会话超时后弹出登录对话框
                statusCode   : {ok:200, error:300, timeout:301}, //[可选]
                ajaxTimeout  : 300000, //[可选]全局Ajax请求超时时间(毫秒)
                alertTimeout : 2000,  //[可选]信息提示[info/correct]自动关闭延时(毫秒)
                pageInfo     : {total:'totalRow', pageCurrent:'pageCurrent', pageSize:'pageSize', orderField:'orderField', orderDirection:'orderDirection'}, //[可选]分页参数
                keys         : {statusCode:'statusCode', message:'message'}, //[可选]
                ui           : {
                    sidenavWidth     : 220,
                    showSlidebar     : true, //[可选]左侧导航栏锁定/隐藏
                    clientPaging     : true, //[可选]是否在客户端响应分页及排序参数
                    overwriteHomeTab : false //[可选]当打开一个未定义id的navtab时，是否可以覆盖主navtab(我的主页)
                },
                debug        : true,    // [可选]调试模式 [true|false，默认false]
                theme        : 'green' // 若有Cookie['bjui_theme'],优先选择Cookie['bjui_theme']。皮肤[五种皮肤:default, orange, purple, blue, red, green]
            })
            if(document.documentElement.clientWidth <768){
                BJUI.setRegional('pagination', {
                    first   : '',
                    last    : '',
                    prev    : '',
                    next    : ''
                })
            }

            $('#bjui-top').bjuiajax('doAjax', { url: '/admin/index/set_client_width?width='+document.documentElement.clientWidth ,callback:function(data){}})
        })

        // 满屏开关
        var bjui_index_container = 'container_fluid'

        function bjui_index_exchange() {
            bjui_index_container = bjui_index_container == 'container_fluid' ? 'container' : 'container_fluid'

            $('#bjui-top').find('> div').attr('class', bjui_index_container)
            $('#bjui-navbar').find('> div').attr('class', bjui_index_container)
            $('#bjui-body-box').find('> div').attr('class', bjui_index_container)
        }
    </script>

</head>
<body>

<!--[if lte IE 7]>
<div id="errorie"><div>您还在使用老掉牙的IE，正常使用系统前请升级您的浏览器到 IE8以上版本 <a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/ie-8-worldwide-languages">点击升级</a>&nbsp;&nbsp;强烈建议您更改换浏览器：<a href="http://down.tech.sina.com.cn/content/40975.html" target="_blank">谷歌 Chrome</a></div></div>
<![endif]-->
<div id="bjui-top" style="height:0px;">
</div>

<header class="navbar bjui-header" id="bjui-navbar" style="display:none;">
    <div class="container_fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" id="bjui-navbar-collapsebtn" data-toggle="collapsenavbar" data-target="#bjui-navbar-collapse" aria-expanded="false">
                <i class="fa fa-angle-double-right"></i>
            </button>
        </div>
        <nav class="collapse navbar-collapse" id="bjui-navbar-collapse">
            <ul class="nav navbar-nav navbar-right" id="bjui-hnav-navbar">
            </ul>
        </nav>
    </div>
</header>
<div id="bjui-body-box">
    <div id="bjui-body" >

        <div id="bjui-navtab" class="tabsPage" id="bjui-sidenav-col">
            <div id="bjui-sidenav-btn" data-toggle="tooltip" data-title="显示左侧菜单" data-placement="right" style="height:0px;">
                <i class="fa fa-bars"></i>
            </div>
            <div class="tabsPageHeader" style="display:none;">
                <div class="tabsPageHeaderContent">
                    <ul class="navtab-tab nav nav-tabs" >
                        <li data-url="/<%= vb.url%>"><a href="javascript:;"><span><i class="fa fa-home"></i> #maintab#</span></a></li>
                    </ul>
                </div>
                <div class="tabsLeft"><i class="fa fa-angle-double-left"></i></div>
                <div class="tabsRight"><i class="fa fa-angle-double-right"></i></div>
                <div class="tabsMore"><i class="fa fa-angle-double-down"></i></div>
            </div>
            <ul class="tabsMoreList" >
                <li><a href="javascript:;"></a></li>
            </ul>
            <div class="navtab-panel tabsPageContent" style="margin-top:-5px; margin-left:-235px;">
                <div class="navtabPage unitBox">
                    <div class="bjui-pageContent" style="background:#FFF;">
 数据加载中，请稍后 ...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/bjui/other/ie10-viewport-bug-workaround.js"></script>

</body>
</html>

<script type="text/javascript">
  var resizeTimer = null;

  function doResize(){
      BJUI.ajax('doajax', {
          url:  '/admin/index/set_client_width?width='+document.documentElement.clientWidth ,
          loadingmask: false,
          okCallback: function(json, options) {
          }
      });
      resizeTimer = null;
  }
  window.onresize = function(){
      if( resizeTimer == null) {
          resizeTimer = setTimeout("doResize()",1000);
      }
  }

</script>

<script type="text/javascript" src="/static/js/web_utils.js" ></script>
<script type="text/javascript" src="/static/js/web_cmpage.js" ></script>
<script type="text/javascript" src="/static/js/web_flow.js" ></script>
