
<div class="bjui-pageHeader">
    <form id="pagerForm" name="page<%= mod.c_modulename%>Form" data-toggle="ajaxsearch" action="/cmpage/page/lookup" method="post">
        <input type="hidden" name="modulename" value="<%= mod.c_modulename%>" />
        <input name="parmsUrl" type="hidden" value="<%= mod.parmsUrl%>" />
        <input type="hidden" id="idSelect" name="idSelect" value="" />

        <% if (mod.c_pager) {%>
            <input type="hidden" name="pageSize" value="<%= mod.c_page_size%>">
            <input type="hidden" name="pageIndex" value="<%= mod.pageIndex%>">
            <input type="hidden" name="orderField" value="<%= mod.orderField%>">
            <input type="hidden" name="orderDirection" value="<%= mod.orderDirection%>">
        <% }%>
        <div class="bjui-searchBar">
            <%- vb.queryHtml[0]%>
            <button type="submit" class="btn btn-default" id="btnSearch<%= mod.c_modulename%>" data-icon="search"><%= mod.c_module_rec==="self" ? "":"查询"%></button>

            <%- vb.btnHeaderHtml%>

            <%- vb.otherHtml%>

            <% if(mod.c_module_rec !=="self") {%>
                <div class="pull-right">
                    <button type="button" class="btn btn-close " data-icon="close">关闭</button>
                </div>
            <% }%>
        </div>
        <% if(vb.queryHtml[1].length >0){ %>
            <div class="bjui-moreSearch">
                <%- vb.queryHtml[1]%>
            </div>
        <% }%>
    </form>
</div>
<div class="bjui-pageContent">
    <table class="table table-bordered table-hover" data-width="100%"  data-nowrap="false" data-selected-multi="<% mod.c_multiselect ? "true":""%>">
    <%- vb.listHtml%>

    </table>

</div>
<% if(mod.c_pager){ %>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize" >
                <%if(mod.pageSize == 10) {%>
                <option value="10" selected>10</option>
                <%} else {%>
                <option value="10" >10</option>
                <%}%>
                <%if(mod.pageSize == 20) {%>
                <option value="20" selected>20</option>
                <%} else {%>
                <option value="20" >20</option>
                <%}%>
                <%if(mod.pageSize == 30) {%>
                <option value="30" selected>30</option>
                <%} else {%>
                <option value="30" >30</option>
                <%}%>
                <%if(mod.pageSize == 50) {%>
                <option value="50" selected>50</option>
                <%} else {%>
                <option value="50" >50</option>
                <%}%>
            </select>
        </div>
        <span>&nbsp;条，共  <%=mod.total%> 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="<%=vb.count%>" data-page-size="<%=mod.pageSize%>" data-page-current="<%=mod.pageIndex%>">
    </div>
</div>

<% } %>

<script type="text/javascript">


</script>
    
