.bjui-doc{margin:10px;}
.bjui-doc .page-header{margin-top:0; border-bottom-color:#CCC;}
.bjui-doc ul, ol{margin-left:22px; margin-top:0; margin-bottom:10px;}
.bjui-doc ul{list-style:disc;}
.bjui-doc ol{list-style:decimal;}
.bjui-doc p,
.bjui-doc li,
.bjui-doc code,
.bjui-doc blockquote *{line-height:1.7; font-size:14px;}
.bjui-doc blockquote.point{border-left-color:#FF6600;}
.bjui-doc blockquote {padding:5px 15px; border-top:1px #EEE solid; border-right:1px #EEE solid; border-bottom:1px #EEE solid; border-radius:5px;}
.bjui-doc code.h4{margin:10px 0; font-size:18px; font-weight:500; color:#c7254e;}
.bjui-doc .table{margin-bottom:15px;}
.bjui-doc td{line-height:1.7;}
.bjui-doc .syntaxhighlighter *{font-size:12px !important; line-height:1.5 !important;}
.bjui-doc .bjui-tablefixed .table{margin-bottom:0;}

.bjui-pageFooter > .pagination-box > ul > li > .p-input > .input-sm-pages{padding:0; height:21px; width:20px; }
.bjui-pageFooter > .pagination-box > ul > li.jumpto .goto{margin-left:-1px; height:25px; width:20px; line-height:25px;}

.bjui-row .row-label {
    clear: none;
    border-left: medium none;
    border-right: medium none;
    border-top: medium none;
    border-bottom: 1px solid #efefef;
    padding-top: 3px;
    width: 17.5%;
}

/* printTable 打印的表格样式*/
.printTable .td1{ font-size:18px; text-align:center; line-height:30px; font-family:"微软雅黑";font-weight:bold; position:relative;}
.printTable .td1 .span_no{ position:absolute; right:5px; font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#ff0000; font-weight:normal;}
.printTable td{ background-color:#fff; text-align:left; line-height:18px; padding:5px;}
.printTable .td3{ font-weight:bold;}
.printTable .td4{ text-align:center; font-weight:bold;}
.printTable .td04{ text-align:center;}
.printTable .td05{ background-color:#f3f3f3; padding-right:5px;}
.printTable .checkbox1{border:0px solid #888;vertical-align:middle;}
.printTable .td8{ font-size:14px; font-family:"微软雅黑"; font-weight:bold; line-height:24px;}
.printTable .td9{ padding:10px 0px;}
.printTable .border_r{ border-right:1px dashed #ccc;background-color:#f3f3f3; text-align:center;}
.printTable .border_r1{background-color:#f3f3f3; text-align:center;}



ul.timeline
{
    list-style-type: none;
    background: url("../images/version_line.png") repeat-y scroll 120px 0 transparent;
    margin: 20px 0;
    padding: 0;
}

ul.timeline li
{
    position: relative;
    margin-bottom: 20px;
}
ul.timeline li .time
{
    position: absolute;
    width: 90px;
    text-align: right;
    left: 0;
    top: 10px;
    color: #999;
}
ul.timeline li .version
{
    position: absolute;
    width: 290px;
    text-align: right;
    left: -200px;
    top: 30px;
    font-size: 20px;
    line-height: 50px;
    color: #3594cb;
    overflow: hidden;
}
ul.timeline li .number
{
    position: absolute;
    background: url("../images/version_dot.png") no-repeat scroll 0 0 transparent;
    width: 56px;
    height: 56px;
    left: 97px;
    line-height: 56px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
ul.timeline li.alt .number
{
    background-image: url("../images/version_dot_alt.png");
}
ul.timeline li .content
{
    margin-left: 180px;
}
ul.timeline li .content pre
{
    background-color: #3594cb;
    padding: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}
ul.timeline li.alt .content pre
{
    background-color: #43B1F1;
}
