<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="/static/mui/css/mui.min.css">
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			.mui-popover {
				height: 100px;
			}
			#topPopover {
				position: fixed;
				top: 16px;
				left: 6px;
			}
			#topPopover .mui-popover-arrow {
				right: auto;
				left: 6px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">3月份工程条线会议培训考试</h1>

		</header>
		
		<div class="mui-content">
<form id="examForm" class="exam-form" action="/exam/index/exam_save" method="post">
      </br>
<h4>&nbsp;&nbsp;第一部分：单选题</h4>
			<div class="mui-card">
				<div class="mui-card-header">第 1 题（3分）</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						包含页眉页脚的卡片，页眉常用来显示面板标题，页脚用来显示额外信息或支持的操作（比如点赞、评论等）, CmPage框架面向的人群是（）
            
                <div class="mui-input-row mui-radio">
                  <label>A, 程序员</label>
                  <input name="checkbox1" value="A" type="radio" >
                </div>
                <div class="mui-input-row mui-radio">
                  <label>B, 最终用户</label>
                  <input name="checkbox1" value="A" type="radio" >
                </div>
                <div class="mui-input-row mui-radio">
                  <label>C, 所有人</label>
                  <input name="checkbox1" value="A" type="radio" >
                </div>
                <div class="mui-input-row mui-radio">
                  <label>D, 企业用户</label>
                  <input name="checkbox1" value="A" type="radio" >
                </div>
					</div>
				</div>
			</div>

			<div class="mui-card">
				<div class="mui-card-header">第 1 题（3分）</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						包含页眉页脚的卡片，页眉常用来显示面板标题，页脚用来显示额外信息或支持的操作（比如点赞、评论等）, CmPage框架面向的人群是（）
            
                <div class="mui-input-row mui-radio">
                  <label>A, 程序员</label>
                  <input name="checkbox2" value="A" type="radio" >
                </div>
                <div class="mui-input-row mui-radio">
                  <label>B, 最终用户</label>
                  <input name="checkbox2" value="A" type="radio" >
                </div>
                <div class="mui-input-row mui-radio">
                  <label>C, 所有人</label>
                  <input name="checkbox2" value="A" type="radio" >
                </div>
                <div class="mui-input-row mui-radio">
                  <label>D, 企业用户</label>
                  <input name="checkbox2" value="A" type="radio" >
                </div>
					</div>
				</div>
			</div>

			<div class="mui-card">
				<div class="mui-card-header">第 1 题（3分）</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						包含页眉页脚的卡片，页眉常用来显示面板标题，页脚用来显示额外信息或支持的操作（比如点赞、评论等）, CmPage框架面向的人群是（）
            
                <div class="mui-input-row mui-radio">
                  <label>A, 程序员</label>
                  <input name="checkbox" value="A" type="radio" >
                </div>
                <div class="mui-input-row mui-radio">
                  <label>B, 最终用户</label>
                  <input name="checkbox" value="A" type="radio" >
                </div>
                <div class="mui-input-row mui-radio">
                  <label>C, 所有人</label>
                  <input name="checkbox" value="A" type="radio" >
                </div>
                <div class="mui-input-row mui-radio">
                  <label>D, 企业用户</label>
                  <input name="checkbox" value="A" type="radio" >
                </div>
					</div>
				</div>
			</div>


      </br>
<h4>&nbsp;&nbsp;第二部分：多选题</h4>
			<div class="mui-card">
				<div class="mui-card-header">第 1 题（3分）</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						包含页眉页脚的卡片，页眉常用来显示面板标题，页脚用来显示额外信息或支持的操作（比如点赞、评论等）, CmPage框架面向的人群是（）
            
                <div class="mui-input-row mui-checkbox">
                  <label>A, 程序员</label>
                  <input name="checkbox3" value="A" type="checkbox" >
                </div>
                <div class="mui-input-row mui-checkbox">
                  <label>B, 最终用户</label>
                  <input name="checkbox3" value="B" type="checkbox" >
                </div>
                <div class="mui-input-row mui-checkbox">
                  <label>C, 所有人</label>
                  <input name="checkbox3" value="C" type="checkbox" >
                </div>
                <div class="mui-input-row mui-checkbox">
                  <label>D, 企业用户</label>
                  <input name="checkbox3" value="D" type="checkbox" >
                </div>
					</div>
				</div>
			</div>

			<div class="mui-card">
				<div class="mui-card-header">第 2 题（3分）</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						包含页眉页脚的卡片，页眉常用来显示面板标题，页脚用来显示额外信息或支持的操作（比如点赞、评论等）, CmPage框架面向的人群是（）
            
                <div class="mui-input-row mui-checkbox">
                  <label>A, 程序员</label>
                  <input name="checkbox4" value="A" type="checkbox" >
                </div>
                <div class="mui-input-row mui-checkbox">
                  <label>B, 最终用户</label>
                  <input name="checkbox4" value="A" type="checkbox" >
                </div>
                <div class="mui-input-row mui-checkbox">
                  <label>C, 所有人</label>
                  <input name="checkbox4" value="A" type="checkbox" >
                </div>
                <div class="mui-input-row mui-checkbox">
                  <label>D, 企业用户</label>
                  <input name="checkbox4" value="A" type="checkbox" >
                </div>
					</div>
				</div>
			</div>

			<div class="mui-card">
				<div class="mui-card-header">第 3 题（3分）</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						包含页眉页脚的卡片，页眉常用来显示面板标题，页脚用来显示额外信息或支持的操作（比如点赞、评论等）, CmPage框架面向的人群是（）
            
                <div class="mui-input-row mui-checkbox">
                  <label>A, 程序员</label>
                  <input name="checkbox" value="A" type="checkbox" >
                </div>
                <div class="mui-input-row mui-checkbox">
                  <label>B, 最终用户</label>
                  <input name="checkbox" value="A" type="checkbox" >
                </div>
                <div class="mui-input-row mui-checkbox">
                  <label>C, 所有人</label>
                  <input name="checkbox" value="A" type="checkbox" >
                </div>
                <div class="mui-input-row mui-checkbox">
                  <label>D, 企业用户</label>
                  <input name="checkbox" value="A" type="checkbox" >
                </div>
					</div>
				</div>
			</div>


      </br>
<h4>&nbsp;&nbsp;第三部分：判断题</h4>
			<div class="mui-card">
				<div class="mui-card-header">第 10 题（3分）</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						勘察表中标明场地通讯信号情况、场地电容情况、场地名称和地址。
					</div>
				</div>
				<div class="mui-card-footer">
                <div class="mui-input-row mui-radio">
                  <label>正确</label>
                  <input name="checkbox5" value="A" type="radio" >
                </div>
                <div class="mui-input-row mui-radio">
                  <label>错误</label>
                  <input name="checkbox5" value="A" type="radio" >
                </div>
					
				</div>
			</div>

			<div class="mui-card">
				<div class="mui-card-header">第 11 题（3分）</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						勘察表中标明场地通讯信号情况、场地电容情况、场地名称和地址。
					</div>
				</div>
				<div class="mui-card-footer">
                <div class="mui-input-row mui-radio">
                  <label>正确</label>
                  <input name="checkbox6" value="A" type="radio" >
                </div>
                <div class="mui-input-row mui-radio">
                  <label>错误</label>
                  <input name="checkbox6" value="A" type="radio" >
                </div>
					
				</div>
			</div>

			<div class="mui-card">
				<div class="mui-card-header">第 12 题（3分）</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						勘察表中标明场地通讯信号情况、场地电容情况、场地名称和地址。
					</div>
				</div>
				<div class="mui-card-footer">
                <div class="mui-input-row mui-radio">
                  <label>正确</label>
                  <input name="checkbox" value="A" type="radio" >
                </div>
                <div class="mui-input-row mui-radio">
                  <label>错误</label>
                  <input name="checkbox" value="A" type="radio" >
                </div>
					
				</div>
			</div>


<h4>&nbsp;&nbsp;第四部分：问答题</h4>
			<div class="mui-card">
				<div class="mui-card-header">第 20 题（10分）</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						请问哪些应用场景比较适合用NodeJS来实现？
            <div class="mui-input-row" style="margin-top: 10px;">
              <textarea id="textarea1" name="textarea1" rows="5" placeholder="请在这里输入答案" ></textarea>
            </div>
					</div>
				</div>
			</div>

			<div class="mui-card">
				<div class="mui-card-header">第 21 题（10分）</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						请问哪些应用场景比较适合用NodeJS来实现？
            <div class="mui-input-row" style="margin-top: 10px;">
              <textarea id="textarea"  name="textarea2" rows="5" placeholder="请在这里输入答案" ></textarea>
            </div>
					</div>
				</div>
			</div>


</br>
<button type="submit"  class="mui-btn mui-btn-primary mui-btn-block">我考完了，交卷</button>
</br>

</form>

		</div>

	</body>

	<script src="/static/mui/js/mui.min.js"></script>
	<script src="/static/js/mob/app.js"></script>
	<!-- <script src="/static/js/cmpage.js"></script> -->
	<!-- <script src="/static/js/cmpage/cmpage-list.js"></script> -->

</html>
<script type="text/javascript">

mui.init({
	swipeBack: false
});

// function examSave(){
//     mui.ajax("/exam/index/exam_save", {
//     data: app.serializeToOjb(document.body.querySelector('.exam-form')),
//     type: "post",
//     dataType: 'json',
//     timeout: 5000,
//     error: function(request) {
//       //console.log(JSON.stringify(request));
//       mui.toast("服务器获取数据失败！");
//     },
//     success: function(data) {
//       //app.debug(JSON.stringify(data));
//       if (data.statusCode == 200) {
//         location.href="/exam/index/index";
//       } else {
//         mui.toast("数据加载失败请稍后重试！");
//       }
//     }
//   });
//   return false;
// }

</script>
