
<iframe id="mapiframe" width="70%" height="100%" frameborder="0" src="/flow/proc/design?proc_id=<%= page.editID%>"></iframe>

<div style="float:right; display:block; overflow:auto; width:30%; height:100%; border:solid 1px #CCC; line-height:21px; background:#fff" class="bjui-layout">

    <div id="procEdit" style="display:block; overflow:auto; width:100%; height:100%; margin-top:-20px; border:solid 1px #CCC; line-height:21px; background:#fff">
        <form id="edit<%= page.c_modulename%>Form" action="/cmpage/page/save" data-toggle="validate" data-alertmsg="true">
            <div class="bjui-pageHeader"><label data-height="30px" style="margin: 5px;">流程模板的主信息</label></div>
            <div class="bjui-pageContent">
                    <input id="<%= page.c_modulename%>ID" name="id" type="hidden" value="<%= page.editID%>" />
                    <input name="modulename" type="hidden" value="<%= page.c_modulename%>" />
                    <input name="parmsUrl" type="hidden" value="<%= page.parmsUrl%>" />
                    <table class="table table-condensed table-hover" width="100%">
                        <tbody>
                        <%- editHtml%>
                        </tbody>
                    </table>
            </div>
            <div class="bjui-pageFooter" >
                <ul>
                    <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
                    <li ><button type="submit" class="btn-green"  data-icon="save">保存</button></li>
                </ul>
            </div>
        </form>
    </div>

    <div id="actEdit"  style="display:none; overflow:auto; width:100%; height:100%; margin-top:-20px; border:solid 1px #CCC; line-height:21px; background:#fff">
        <!--#include virtual="codeList" -->
    </div>
</div>

<script>
    function actDeleteConfirm(src){
        alert(src);
    }
    function actShow(id){
        alert(id);
        $(this).bjuiajax('doLoad', {target:$("#actEdit"), url:"/cmpage/page/edit?modulename=FwAct&id=0" });
        $('#procEdit').hide();
        $('#actEdit').show();
    }
</script>