

<div class="bjui-pageContent" style="padding:5px">

    <div style="float:left; display:block; overflow:auto; width:240px; height:100%; border:solid 1px #CCC; line-height:21px; background:#fff">
        <ul id="groupTree" class="ztree" data-toggle="ztree"
            data-options="{
                onClick: 'group_onClick'
            }"
        >
            <% treeList.forEach(function(item)  { %>
            <li data-id="<%= item.id%>" data-pid="<%= item.c_pid%>" data-root="<%= item.c_root%>"
                data-open="<%= (item.c_pid == 0) %>" ><%= item.c_name%></li>
            <%});%>
        </ul>
    </div>

    <div id="groupUserList"  style="margin-left:246px;height:100%;">
        <!--#include virtual="codeList" -->
    </div>


</div>

<SCRIPT type="text/javascript">
    function group_onClick(event, treeId, treeNode){
        //event.preventDefault();
        $(this).bjuiajax('doLoad', {target:$("#groupUserList"), url:"/cmpage/page/list?modulename=GroupUser&c_group="+treeNode.id })

    }
</SCRIPT>


