<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="/admin/code/code_list" method="post">
        <input type="hidden" name="numsPerPage" value="<%= vb.numsPerPage%>">
        <input type="hidden" name="currentPage" value="<%= vb.currentPage%>">
        <input type="hidden" name="orderField" value="<%= vb.orderField%>">
        <input type="hidden" name="orderDirection" value="<%= vb.orderDirection%>">
        <div class="bjui-searchBar">
            <label>名称包含：</label><input type="text" value="<%= vb.query.c_name%>" name="c_name" class="form-control" size="10">&nbsp;
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <!--<a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>-->
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table class="table table-bordered table-hover table-striped table-top" data-selected-multi="true">
        <thead>
        <tr>
            <th width="20" >ID</th>
            <th width="30" >编码</th>
            <th width="50" >名称</th>
            <th width="30" >类型</th>
            <th width="80" >说明</th>
            <th width="80" >相关对象</th>
            <th width="30" >其他</th>
            <th width="30" >图标</th>
            <th width="30" >备注</th>
            <th width="50" >操作</th>
        </tr>
        </thead>
        <tbody>
        <%vb.data.forEach(function(item){%>
        <tr data-id="<%=item.id%>">
            <td><%=item.id%></td>
            <td><%=item.c_ucode%></td>
            <td><%=item.c_name%></td>
            <td><%=item.c_type%></td>
            <td><%=item.c_desc%></td>
            <td><%=item.c_other%></td>
            <td><%=item.c_faicon%></td>
            <td><%=item.c_memo%></td>
            <td>
            <a class="btn btn-green" href="/admin/code/code_edit?id=<%= item.id%>&pid=<%= item.c_pid%>&divid=<%= vb.rootID%>List" data-toggle="dialog"   >编辑</a>
            <a data-confirm-msg="是否确定要删除?" class="btn btn-red" data-toggle="doajax" href="/admin/code/code_del?id=<%= item.id%>&divid=<%= vb.rootID%>List"  >删</a>
            </td>
        </tr>
        <%})%>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize" >
                <%if(vb.numsPerPage == 10) {%>
                <option value="10" selected>10</option>
                <%} else {%>
                <option value="10" >10</option>
                <%}%>
                <%if(vb.numsPerPage == 20) {%>
                <option value="20" selected>20</option>
                <%} else {%>
                <option value="20" >20</option>
                <%}%>
                <%if(vb.numsPerPage == 30) {%>
                <option value="30" selected>30</option>
                <%} else {%>
                <option value="30" >30</option>
                <%}%>
                <%if(vb.numsPerPage == 50) {%>
                <option value="50" selected>50</option>
                <%} else {%>
                <option value="50" >50</option>
                <%}%>
            </select>
        </div>
        <span>&nbsp;条，共  <%=vb.count%> 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="<%=vb.count%>" data-page-size="<%=vb.numsPerPage%>" data-page-current="<%=vb.currentPage%>">
    </div>
</div>
