<script type="text/javascript">

</script>
<div class="bjui-pageHeader" style="background:#FFF;">
    <div style="padding: 0 15px;">
        <h4 style="margin-bottom:20px;">
            CMPage(Common Page FrameWork) 通用页面框架　<small>轻松开发，专注您的业务，从CMPage开始！</small>
            
        </h4>
        <div style="float:left; width:157px;">
            <div class="alert alert-info" role="alert" style="margin:0 0 5px; padding:10px;">
                <img src="/static/images/cmpage.png" width="135">
            </div>
        </div>
        <div style="margin-left:170px; margin-top:22px; padding-left:6px;">
            <a target="_blank" href="http://jq.qq.com/?_wv=1027&k=27S0ibg"><img border="0" src="/static/images/group.png" alt="通用页面框架CMPage-群1" title="通用页面框架CMPage-群1"></a>
            <span class="label label-default"></span>　
            <span style="padding-left:30px;">官方论坛：</span><a href="#" target="_blank">在建中......</a>
        </div>
        <div class="row" style="margin-left:170px; margin-top:10px;">
            <div class="col-md-6" style="padding:5px;">
                <div class="alert alert-success" role="alert" style="margin:0 0 5px; padding:5px 15px;">
                    <strong>CMPage欢迎你!</strong>
                    <br><span class="label label-default">开发：</span> <a href="#" target="_blank">Defans</a>
                    <br><span class="label label-default">测试 & 推广：</span> <a href="#">还木有</a>
                    <br><span class="label label-default">测试 & 试用：</span> <a href="#">还木有</a>
                </div>
            </div>
            <div class="col-md-6" style="padding:5px;">
                <div class="alert alert-info" role="alert" style="margin:0 0 5px; padding:5px 15px;">
                    <h5>项目地址：<a href="https://git.oschina.net/defans/cmpage" target="_blank">OSCHINA</a></h5>
                    <h5>博客地址：<a href="http://blog.csdn.net/defans_sawasoft" target="_blank">http://blog.csdn.net/defans_sawasoft</a></h5>
                    <h5>UI框架：<a href="http://b-jui.com/" target="_blank">B-JUI框架</a></h5>
                    <h5>NODEJS框架：<a href="http://thinkjs.org" target="_blank">ThinkJS框架</a></h5>
                </div>                                  
            </div>
        </div>
    </div>
</div>
<div class="bjui-pageContent">
    <!--<div style="position:absolute;top:15px;right:0;width:300px;">-->
        <!--<iframe width="100%" height="550" class="share_self" frameborder="0" scrolling="no" src="http://blog.csdn.net/defans_sawasoft"></iframe>-->
    <!--</div>-->
    <div style="margin-top:5px; margin-right:300px; overflow:hidden;">
        <div class="row" style="padding: 0 8px;">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">当前版本：<code>V0.8</code>　最近更新日志(2016-04-07)：</h3></div>
                    <div class="panel-body bjui-doc" style="padding:0;">
                        <ul>
                            <li>[新增]修改首页，增加QQ联系方式等</li>
                            <li>-----</li>
                            <li>[修改]调整显示的菜单项</li>
                            <li>[新增]代码与参数页面的通用化</li>
                            <li>[新增]代码与参数页面的树状展示，采用ztree</li>
                            <li>-----</li>
                            <li>[新增]新增模块emp用于测试模块的分页列表展示、新增、编辑、查看、删除操作，测试通过</li>
                            <li>[新增]模块显示列的设置页面</li>
                            <li>[新增]模块编辑列的设置页面</li>
                            <li>[新增]模块按钮的设置页面</li>
                            <li>[新增]模块查询列的设置页面</li>
                            <li>[新增]模块主信息的设置页面</li>
                            <li>-----</li>

                        </ul>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-12">-->
                <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading"><h3 class="panel-title">CMPage/GIT</h3></div>-->

                    <!--<div class="panel-body">-->
                        <!--<iframe width="100%" height="240" class="share_self" frameborder="0" scrolling="no" src="http://blog.csdn.net/defans_sawasoft"></iframe>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>