
<div class="bjui-pageHeader" style="background:#FFF;">
    <div style="padding: 0 15px;">
        <h4 style="margin-bottom:20px;">
            CMPage(Common Page FrameWork) 通用页面框架　<small>轻松开发，专注您的业务，从CMPage开始！</small>

        </h4>
        <div style="float:left; width:157px;">
            <div class="alert alert-info" role="alert" style="margin:0 0 5px; padding:10px;">
                <img src="/static/images/cmpage.png" width="135">
            </div>
        </div>
        <div style="margin-left:170px; margin-top:22px; padding-left:6px;">
            <a target="_blank" href="http://jq.qq.com/?_wv=1027&k=27S0ibg"><img border="0" src="/static/images/group.png" alt="通用页面框架CMPage-群2" 
                title="通用页面框架CMPage-群2"></a>
            <span class="label label-default"></span>　
            <span style="padding-left:30px;">官方论坛：</span><a href="#" target="_blank">在建中......</a>
        </div>
        <div class="row" style="margin-left:170px; margin-top:10px;">
            <div class="col-md-6" style="padding:5px;">
                <div class="alert alert-success" role="alert" style="margin:0 0 5px; padding:5px 15px;">
                    <strong>CMPage 欢迎你!</strong>
                    <br><span class="label label-default">开发：</span> <a href="#" target="_blank">defans,gooon</a>
                    <br><span class="label label-default">测试 & 推广：</span> <a href="#">defans</a>
                    <br><span class="label label-default">测试 & 试用：</span> <a href="#">defans</a>
                </div>
            </div>
            <div class="col-md-6" style="padding:5px;">
                <div class="alert alert-info" role="alert" style="margin:0 0 5px; padding:5px 15px;">
                    <h5>项目地址：<a href="https://git.oschina.net/defans/cmpage" target="_blank">https://git.oschina.net/defans/cmpage</a></h5>
                    <h5>博客地址：<a href="http://blog.csdn.net/defans_sawasoft" target="_blank">http://blog.csdn.net/defans_sawasoft</a></h5>
                    <h5>前后端框架：<a href="http://thinkjs.org" target="_blank">NodeJS框架--ThinkJS</a> ， <a href="http://b-jui.com/" target="_blank">UI框架--B-JUI</a></h5>
                    <h5>移动端框架：<a href="http://www.dcloud.io/runtime.html" target="_blank">MUI及HTML5+</a></h5>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="bjui-pageContent">
        <iframe width="100%" height="98%" frameborder="0" src="/admin/index/git">        </iframe>


</div>
