<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= vb.title%></title>
  <meta name="Keywords" content="cmpage,defans"/>
  <meta name="Description" content="cmpage by defans@sina.cn"/>

  <link href="/static/css/index.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">

  <!-- bootstrap - css -->
  <link href="/static/bjui/themes/css/bootstrap.css" rel="stylesheet">
  <!-- core - css -->
  <link href="/static/bjui/themes/css/style.css" rel="stylesheet">
  <link href="/static/bjui/themes/blue/core.css" id="bjui-link-theme" rel="stylesheet">
  <!-- plug - css -->
  <link href="/static/bjui/plugins/kindeditor_4.1.10/themes/default/default.css" rel="stylesheet">
  <link href="/static/bjui/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
  <link href="/static/bjui/plugins/niceValidator/jquery.validator.css" rel="stylesheet">
  <link href="/static/bjui/plugins/bootstrapSelect/bootstrap-select.css" rel="stylesheet">
  <link href="/static/bjui/themes/css/FA/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/js/uploadify/uploadify.css" rel="stylesheet" type="text/css" />

  <!--[if lte IE 7]>
  <link href="/static/bjui/themes/css/ie7.css" rel="stylesheet">
  <![endif]-->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lte IE 9]>
  <script src="/static/bjui/other/html5shiv.min.js"></script>
  <script src="/static/bjui/other/respond.min.js"></script>
  <![endif]-->
  <!-- jquery -->
  <script src="/static/bjui/js/jquery-1.7.2.min.js"></script>
  <script src="/static/bjui/js/jquery.cookie.js"></script>
  <!--[if lte IE 9]>
  <script src="/static/bjui/other/jquery.iframe-transport.js"></script>
  <![endif]-->
  <!-- BJUI.all 分模块压缩版 -->
  <!--<script src="/static/bjui/js/bjui-all.js"></script>-->
  <!-- 以下是B-JUI的分模块未压缩版，建议开发调试阶段使用下面的版本 -->

  <!-- plugins -->
  <!-- swfupload for uploadify && kindeditor -->
  <script src="/static/bjui/plugins/swfupload/swfupload.js"></script>
  <!-- kindeditor -->
  <script charset="utf-8" src="/static/bjui/plugins/kindeditor_4.1.10/kindeditor.js"></script>
  <script charset="utf-8" src="/static/bjui/plugins/kindeditor_4.1.10/lang/zh_CN.js"></script>
  <!-- colorpicker -->
  <script src="/static/bjui/plugins/colorpicker/js/bootstrap-colorpicker.min.js"></script>
  <!-- ztree -->
  <script src="/static/bjui/plugins/ztree/jquery.ztree.all-3.5.js"></script>
  <!-- nice validate -->
  <script src="/static/bjui/plugins/niceValidator/jquery.validator.js"></script>
  <script src="/static/bjui/plugins/niceValidator/jquery.validator.themes.js"></script>
  <!-- bootstrap plugins -->
  <script src="/static/bjui/plugins/bootstrap.min.js"></script>
  <script src="/static/bjui/plugins/bootstrapSelect/bootstrap-select.min.js"></script>
  <script src="/static/bjui/plugins/bootstrapSelect/defaults-zh_CN.min.js"></script>
  <!-- icheck -->
  <script src="/static/bjui/plugins/icheck/icheck.min.js"></script>
  <!-- dragsort -->
  <script src="/static/bjui/plugins/dragsort/jquery.dragsort-0.5.1.min.js"></script>
  <!-- HighCharts -->
  <script src="/static/bjui/plugins/highcharts/highcharts.js"></script>
  <script src="/static/bjui/plugins/highcharts/highcharts-3d.js"></script>
  <script src="/static/bjui/plugins/highcharts/themes/gray.js"></script>
  <!-- ECharts -->
  <script src="/static/bjui/plugins/echarts/echarts.js"></script>
  <!-- other plugins -->
  <script src="/static/bjui/plugins/other/jquery.autosize.js"></script>
  <link href="/static/bjui/plugins/uploadify/css/uploadify.css" rel="stylesheet">
  <script src="/static/bjui/plugins/uploadify/scripts/jquery.uploadify.min.js"></script>
  <script src="/static/bjui/plugins/download/jquery.fileDownload.js"></script>

  <script src="/static/bjui/js/bjui-core.js"></script>
  <script src="/static/bjui/js/bjui-regional.zh-CN.js"></script>
  <script src="/static/bjui/js/bjui-frag.js"></script>
  <script src="/static/bjui/js/bjui-extends.js"></script>
  <script src="/static/bjui/js/bjui-basedrag.js"></script>
  <script src="/static/bjui/js/bjui-slidebar.js"></script>
  <script src="/static/bjui/js/bjui-contextmenu.js"></script>
  <script src="/static/bjui/js/bjui-navtab.js"></script>
  <script src="/static/bjui/js/bjui-dialog.js"></script>
  <script src="/static/bjui/js/bjui-taskbar.js"></script>
  <script src="/static/bjui/js/bjui-ajax.js"></script>
  <script src="/static/bjui/js/bjui-alertmsg.js"></script>
  <script src="/static/bjui/js/bjui-pagination.js"></script>
  <script src="/static/bjui/js/bjui-util.date.js"></script>
  <script src="/static/bjui/js/bjui-datepicker.js"></script>
  <script src="/static/bjui/js/bjui-ajaxtab.js"></script>
  <script src="/static/bjui/js/bjui-datagrid.js"></script>
  <script src="/static/bjui/js/bjui-tablefixed.js"></script>
  <script src="/static/bjui/hack/bjui-tabledit.hack.js"></script>
  <script src="/static/bjui/js/bjui-spinner.js"></script>
  <script src="/static/bjui/js/bjui-lookup.js"></script>
  <script src="/static/bjui/js/bjui-tags.js"></script>
  <script src="/static/bjui/js/bjui-upload.js"></script>
  <script src="/static/bjui/js/bjui-theme.js"></script>
  <script src="/static/bjui/js/bjui-initui.js"></script>
  <script src="/static/bjui/js/bjui-plugins.js"></script>



  <!-- init -->
  <script type="text/javascript">
    $(function () {
      BJUI.init({
        JSPATH: '/static/bjui/',         //[可选]框架路径
        PLUGINPATH: '/static/bjui/plugins/', //[可选]插件路径
        loginInfo: { url: 'login_timeout.html', title: '登录', width: 400, height: 200 }, // 会话超时后弹出登录对话框
        statusCode: { ok: 200, error: 300, timeout: 301 }, //[可选]
        ajaxTimeout: 50000, //[可选]全局Ajax请求超时时间(毫秒)
        pageInfo: { pageCurrent: 'pageCurrent', pageSize: 'pageSize', orderField: 'orderField', orderDirection: 'orderDirection' }, //[可选]分页参数
        alertMsg: { displayPosition: 'topcenter', displayMode: 'slide', alertTimeout: 3000 }, //[可选]信息提示的显示位置，显隐方式，及[info/correct]方式时自动关闭延时(毫秒)
        keys: { statusCode: 'statusCode', message: 'message' }, //[可选]
        ui: {
          showSlidebar: true, //[可选]左侧导航栏锁定/隐藏
          clientPaging: true, //[可选]是否在客户端响应分页及排序参数
          overwriteHomeTab: false //[可选]当打开一个未定义id的navtab时，是否可以覆盖主navtab(我的主页)
        },
        debug: true,    // [可选]调试模式 [true|false，默认false]
        theme: 'purple' // 若有Cookie['bjui_theme'],优先选择Cookie['bjui_theme']。皮肤[五种皮肤:default, orange, purple, blue, red, green]
      });

      // main - menu
      $('#bjui-accordionmenu')
              .collapse()
              .on('hidden.bs.collapse', function (e) {
                $(this).find('> .panel > .panel-heading').each(function () {
                  var $heading = $(this), $a = $heading.find('> h4 > a')

                  if ($a.hasClass('collapsed')) $heading.removeClass('active')
                })
              })
              .on('shown.bs.collapse', function (e) {
                $(this).find('> .panel > .panel-heading').each(function () {
                  var $heading = $(this), $a = $heading.find('> h4 > a')

                  if (!$a.hasClass('collapsed')) $heading.addClass('active')
                })
              })

      $(document).on('click', 'ul.menu-items li > a', function (e) {
        var $a = $(this), $li = $a.parent(), options = $a.data('options').toObj(), $children = $li.find('> .menu-items-children')
        var onClose = function () {
          $li.removeClass('active')
        }
        var onSwitch = function () {
          $('#bjui-accordionmenu').find('ul.menu-items li').removeClass('switch')
          $li.addClass('switch')
        }

        $li.addClass('active')
        if (options) {
          options.url = $a.attr('href')
          options.onClose = onClose
          options.onSwitch = onSwitch
          if (!options.title) options.title = $a.text()

          if ( options.target == 'dialog')
            $a.dialog(options)
          else
            $a.navtab(options)
        }
        if ($children.length) {
          $li.toggleClass('open')
        }

        e.preventDefault()
      })

      //时钟
      var today = new Date(), time = today.getTime()
      $('#bjui-date').html(today.formatDate('yyyy/MM/dd'))
      setInterval(function () {
        today = new Date(today.setSeconds(today.getSeconds() + 1))
        $('#bjui-clock').html(today.formatDate('HH:mm:ss'))
      }, 1000)
    })

    //菜单-事件
    function MainMenuClick(event, treeId, treeNode) {
      event.preventDefault()

      if (treeNode.isParent) {
        var zTree = $.fn.zTree.getZTreeObj(treeId)

        zTree.expandNode(treeNode)
        return
      }

//      if (treeNode.target && treeNode.target == 'dialog')
//        $(event.target).dialog({ id: treeNode.tabid, url: treeNode.url, title: treeNode.name })
//      else
//        $(event.target).navtab({ id: treeNode.tabid, url: treeNode.url, title: treeNode.name, fresh: treeNode.fresh, external: treeNode.external })
    }
  </script>

</head>
<body>
<!--[if lte IE 7]>
<div id="errorie"><div>您的IE太旧了，正常使用系统前请升级您的浏览器到 IE8以上版本 <a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/ie-8-worldwide-languages">点击升级</a>&nbsp;&nbsp;强烈建议您更改换浏览器：<a href="http://down.tech.sina.com.cn/content/40975.html" target="_blank">谷歌 Chrome</a></div></div>
<![endif]-->
<header id="bjui-header">
  <div class="bjui-navbar-header">
    <button type="button" class="bjui-navbar-toggle btn-default" data-toggle="collapse" data-target="#bjui-navbar-collapse">
      <i class="fa fa-bars"></i>
    </button>
    <a class="bjui-navbar-logo" href="#"><img src="/static/images/logo.png" alt="" /></a>
  </div>
  <nav id="bjui-navbar-collapse">
    <ul class="bjui-navbar-right">
      <li class="datetime"><div><span id="bjui-date"></span><br><i class="fa fa-clock-o"></i> <span id="bjui-clock"></span></div></li>
      <li><a href="/home/index/index">首页</a></li>
      <li><a href="#">欢迎您，<%= vb.userName%></a></li>
      <li><a href="#" onclick="return loginExit();" >&nbsp;<span class="glyphicon glyphicon-off"></span> 注销登陆</a></li>
      <li class="dropdown"><a href="#" class="dropdown-toggle theme purple" data-toggle="dropdown"><i class="fa fa-tree"></i></a>
        <ul class="dropdown-menu" role="menu" id="bjui-themes">
          <li><a href="javascript:;" class="theme_default" data-toggle="theme" data-theme="default">&nbsp;<i class="fa fa-tree"></i> 黑白分明&nbsp;&nbsp;</a></li>
          <li><a href="javascript:;" class="theme_orange" data-toggle="theme" data-theme="orange">&nbsp;<i class="fa fa-tree"></i> 橘子红了</a></li>
          <li class="active"><a href="javascript:;" class="theme_purple" data-toggle="theme" data-theme="purple">&nbsp;<i class="fa fa-tree"></i> 紫罗兰</a></li>
          <li><a href="javascript:;" class="theme_blue" data-toggle="theme" data-theme="blue">&nbsp;<i class="fa fa-tree"></i> 青出于蓝</a></li>
          <li><a href="javascript:;" class="theme_red" data-toggle="theme" data-theme="red">&nbsp;<i class="fa fa-tree"></i> 红红火火</a></li>
          <li><a href="javascript:;" class="theme_green" data-toggle="theme" data-theme="green">&nbsp;<i class="fa fa-tree"></i> 绿草如茵</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div id="bjui-hnav">
    <button type="button" class="btn-default bjui-hnav-more-left" title="导航菜单左移"><i class="fa fa-angle-double-left"></i></button>
    <div id="bjui-hnav-navbar-box">
      <ul id="bjui-hnav-navbar">
        <% vb.navList.forEach(function(nav){ %>

        <li <%= nav.liStyle%>><a href="javascript:;" data-toggle="slidebar"><i class="fa fa-<%= nav.c_faicon%>"></i> <%= nav.c_name%></a>
        <div class="items hide" data-noinit="true">

          <% if (nav.c_memo != "NOSUBMENU") { %>
            <ul class="menu-items" data-faicon="<%= nav.c_faicon%>">
             <% vb.menuList.forEach(function(menu){ %>
               <% if (menu.c_pid == nav.id && menu.c_type == "M") { %>
                  <li><a href="<%= menu.c_desc%>" data-options="{id:'page<%= menu.c_object%>', faicon:'<%= menu.c_faicon%>', target:'<%= (menu.c_object=='Admin.LoginPwdEdit' ? 'dialog':'navtab')%>' }"><%= menu.c_name%></a></li>
                <% }   } ) %>
            </ul>
          <% }%>

          <% vb.itemList.forEach(function(item) { %>
            <% if (item.c_pid == nav.id) { %>
              <ul class="menu-items" data-faicon="<%= item.c_faicon%>" data-tit="<%= item.c_name%>">
                <% vb.menuList.forEach(function(menu) {%>
                  <% if (menu.c_pid == item.id && menu.c_type == "M") { %>
                    <li><a href="<%= menu.c_desc%>" data-options="{id:'page<%= menu.c_object%>', faicon:'<%= menu.c_faicon%>', target:'<%= (menu.c_object=='Admin.LoginPwdEdit' ? 'dialog':'navtab')%>'}"><%= menu.c_name%></a></li>
                  <% }  } )  %>
              </ul>
            <% } } ) %>

        </div>
        </li>
        <% }  ) %>
      </ul>
    </div>
    <button type="button" class="btn-default bjui-hnav-more-right" title="导航菜单右移"><i class="fa fa-angle-double-right"></i></button>
  </div>

</header>

<div id="bjui-container" class="clearfix">
  <div id="bjui-leftside">
    <div id="bjui-sidebar-s">
      <div class="collapse"></div>
    </div>
    <div id="bjui-sidebar">
      <div class="toggleCollapse"><h2><i class="fa fa-bars"></i> 导航栏 <i class="fa fa-bars"></i></h2><a href="javascript:;" class="lock"><i class="fa fa-lock"></i></a></div>
      <div class="panel-group panel-main" data-toggle="accordion" id="bjui-accordionmenu">
      </div>
    </div>
  </div>
  <div id="bjui-navtab" class="tabsPage">
    <div class="tabsPageHeader">
      <div class="tabsPageHeaderContent">
        <ul class="navtab-tab nav nav-tabs">
          <li data-url="/cmpage/module/list"  data-faicon="home"><a href="javascript:;"><span><i class="fa fa-home"></i> 模块配置</span>
            <!--<span id="msg-count" class="badge" style=" background-color:#fde5d4;color:red;"><%= vb.msgCount%></span>-->
          </a></li>
        </ul>


      </div>
      <div class="tabsLeft"><i class="fa fa-angle-double-left"></i></div>
      <div class="tabsRight"><i class="fa fa-angle-double-right"></i></div>
      <div class="tabsMore"><i class="fa fa-angle-double-down"></i></div>
    </div>
    <ul class="tabsMoreList">
      <li><a href="javascript:;"></a></li>
    </ul>
    <div class="navtab-panel tabsPageContent">
      <div class="navtabPage unitBox">
        <div class="bjui-pageContent" style="background:#FFF;">
          数据加载中，请稍后 ...
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="bjui-footer">　<a href="#" target="_blank">CmPage(<%= vb.version%>)</a>　
  当前账套：(<%= vb.groupName%>)
</footer>
</body>
</html>

<script type="text/javascript">
  function loginExit() {
    $(this).alertmsg("confirm", "是否要退出当前登录的账户？", {
      okCall: function () {
        window.location.href = "/admin/index/exit_login";
      }
    });
  }
</script>

<script type="text/javascript" src="/static/js/utils.js" ></script>
<script type="text/javascript" src="/static/js/cmpage.js" ></script>
