<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="keywords" content="CmPage, ThinkJS, Node.js, B-JUI, MUI, HTML5+, MVC, 权限管理, 工作流, " />
    <meta name="description" content="CmPage 是一款企业信息管理系统的二次开发框架，采用ThinkJS和B-JUI等开源框架实现。" />
    <title>CmPage 管理系统框架 采用ThinkJS B-JUI </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="/static/assets/i/favicon.png">
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>

<style>
    .get {
        background: #1E5B94;
        color: #fff;
        text-align: center;
        padding: 30px 0;
        font-size: 120%;
    }

    .footer p {
        color: #7f8c8d;
        margin: 0;
        padding: 15px 0;
        text-align: center;
        background: #2d3e50;
    }
  </style>
</head>
<body>
<% include _index_header.html %>

<div class="get" >
    <div class="am-g">
        <div class="am-u-lg-12">
            <p >
                请输入您注册的邮箱和密码，谢谢！
            </p>

        </div>
    </div>
</div>

<div class="am-g">
  <div class="am-u-lg-4 am-u-md-6 am-u-sm-centered">

    <hr>
    <form method="post" class="am-form">
      <label for="email">邮箱:</label>
      <input type="email" name="" id="email" value="">
      <br>
      <label for="password">密码:</label>
      <input type="password" name="" id="password" value="">
      <br>
      <label for="remember-me">
        <input id="remember-me" type="checkbox">
        记住密码
      </label>
      <br />
      <div class="am-cf">
        <input type="submit" name="" value=" 登 录 " class="am-btn am-btn-primary am-btn-sm am-fl">
        <input type="button" name="" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr">
          <a href="/home/index/index#register" class="am-btn am-btn-success am-btn-sm am-fr">我要注册</a>
      </div>
    </form>
    <hr>
<br>
      <br>
  </div>
</div>

<% include _index_footer.html %>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/static/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/static/assets/js/amazeui.min.js"></script>
</body>
</html>