<!DOCTYPE html>
<!--[if lte IE 7 ]>
<html class="no-js ie lte7 lte8 lte9 css"> <![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie ie8 lte8 lte9 css"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie ie9 lte9 css"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js css">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="CmPage, ThinkJS, Node.js, B-JUI, MUI, HTML5+, MVC, 权限管理, 工作流, " />
    <meta name="description" content="CmPage 是一款企业信息管理系统的二次开发框架，采用ThinkJS和B-JUI等开源框架实现。" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>CmPage 管理系统框架 采用ThinkJS B-JUI</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="http://s.amazeui.org/assets/2.x/i/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="http://s.amazeui.org/assets/2.x/i/app-icon72x72@2x.png" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.1/css/amazeui.min.css" />
    <link rel="stylesheet" href="http://s.amazeui.org/assets/2.x/css/amaze.min.css?v=ir1seon2" />
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="http://s.amazeui.org/assets/2.x/js/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.amazeui.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="http://s.amazeui.org/assets/2.x/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script src="http://cdn.amazeui.org/amazeui/2.7.1/js/amazeui.min.js"></script>
    <link rel="canonical" href="http://amazeui.org/css/print?_ver=2.x" />
    <style>
        .get {
            background: #1E5B94;
            color: #fff;
            text-align: center;
            padding: 30px 0;
            font-size: 120%;
        }

        .get-title {
            font-size: 200%;
            border: 2px solid #fff;
            padding: 20px;
            display: inline-block;
        }

        .get-btn {
            background: #fff;
        }

        .footer p {
            color: #7f8c8d;
            margin: 0;
            padding: 15px 0;
            text-align: center;
            background: #2d3e50;
        }
    </style>
</head>
<body class="" data-amui="2.x">

<% include _index_header.html %>

<div class="get">
    <div class="am-g">
        <div class="am-u-lg-12">
            <p>
                CmPage 日志记录，让我们能更勤快一点 ^-^
            </p>

        </div>
    </div>
</div>

<div class="am-g am-g-fixed" >
  <div class="am-u-sm-12">

      <div class="am-panel am-panel-default am-margin-lg">
          <div class="am-panel-hd"><h2>V1.1.0 -- 2016.10.23</h2> </div>
          <div class="am-panel-bd">
              <ul>
                  <li>[新增] 业务模块的查询列设置增加了‘不操作’选项，便于只显示而不组成where子句的情况</li>
                  <li>[修改] 升级了B-JUI框架到1.3版本，修改了主界面和菜单加载过程</li>
                  <li>[新增] 在B-JUI1.3中增加了1.2版本的 lookup 插件</li>
                  <li>[修改] 修改了通用编辑页面的风格，去除了原表格方式</li>
                  <li>[修改] 修改了流程设计页面的风格，去除了原表格方式</li>
              </ul>
          </div>
      </div>
      <div class="am-panel am-panel-default am-margin-lg">
          <div class="am-panel-hd"><h2>V1.0.9 -- 2016.10.15</h2> </div>
          <div class="am-panel-bd">
              <ul>
                  <li>[新增] 增加了树状结构的参数选择查找带回页面</li>
                  <li>[修改] 查找带回页面增加了带回的字段名称参数(returnFields)，这样可以避免额外的值覆盖</li>
                  <li>[新增] 编辑页面字段取值除了从数据库，也可以通过函数从缓存中取值，例如 FwAct</li>
                  <li>[新增] 流程模板设计中增加了删除节点路径的功能</li>
                  <li>[修改] 重写页面的删除记录功能，使得业务模块的子类中可以修改删除的逻辑</li>
                  <li>[修改] 调整了系统的菜单项</li>
              </ul>
          </div>
      </div>
      <div class="am-panel am-panel-default am-margin-lg">
          <div class="am-panel-hd"><h2>V1.0.8 -- 2016.09.24</h2> </div>
          <div class="am-panel-bd">
              <ul>
                  <li>[新增] 增加了流程模板和活动节点的图形化设计模块</li>
                  <li>[新增] 初步实现了工作流的任务生成机制，尚有待完善</li>
              </ul>
          </div>
      </div>
      <div class="am-panel am-panel-default am-margin-lg">
          <div class="am-panel-hd"><h2>V1.0.7 -- 2016.09.11</h2> </div>
          <div class="am-panel-bd">
              <ul>
                  <li>[修改] 调整分页列表的搜索页面部分，增加 bjui-moreSearch 的显示方式</li>
                  <li>[新增] 增加了流程模板和活动节点及其指派等模块设置</li>
                  <li>[新增] 采用smartdoc输出API文档</li>
                  <li>[新增] 增加admin和cmpage模块的API文档</li>
              </ul>
          </div>
      </div>
      <div class="am-panel am-panel-default am-margin-lg">
          <div class="am-panel-hd"><h2>V1.0.6 -- 2016.09.04</h2> </div>
          <div class="am-panel-bd">
              <ul>
                  <li>[修改] 后端数据库换成mysql并作相应调整</li>
                  <li>[新增] 增加了日志记录模块</li>
                  <li>[新增] 增加通用的记录保存日志记录，供子类定制格式</li>
                  <li>[新增] 增加了enum类型数据的处理方法，供模块设置的时候调用</li>
                  <li>[修改] 登录后的菜单增加权限控制</li>
                  <li>[新增] 实现了多数据库连接的逻辑，如：demo/customer继承自cmpage/page，但demo/config/db.js中可以配置指向其他数据库</li>
              </ul>
          </div>
      </div>

      <div class="am-panel am-panel-default am-margin-lg">
          <div class="am-panel-hd"><h2>V1.0.5 -- 2016.08.28</h2> </div>
          <div class="am-panel-bd">
              <ul>
                  <li>[新增] 增加了手机端APP登陆页面及后端的数据接口</li>
                  <li>[新增] 增加了APP的主页面及后端的菜单和主按钮列表的接口</li>
                  <li>[新增] 增加了APP中模块的分页列表页面和后端数据接口</li>
                  <li>[新增] 继承common/page_mob可以定制手机端模块的页面</li>
              </ul>
          </div>
      </div>

      <div class="am-panel am-panel-default am-margin-lg">
          <div class="am-panel-hd"><h2>V1.0.3 -- 2016.08.14</h2> </div>
          <div class="am-panel-bd">
              <ul>
                  <li>[新增] 增加了cmpage/page的LOGIC模块，采用ThinkJS的校验方法</li>
                  <li>[新增] 增加了校验错误的中文提示的配置文件</li>
                  <li>[新增] 增加了ThinkJS模块demo, 用于存放框架演示用的业务模块</li>
              </ul>
          </div>
      </div>

      <div class="am-panel am-panel-default am-margin-lg">
          <div class="am-panel-hd"><h2>V1.0.2 -- 2016.08.10</h2> </div>
          <div class="am-panel-bd">
              <ul>
                  <li>[修改] 模块主信息中增加别名一项</li>
                  <li>[新增] 增加了通用页面导出EXCEL文件的功能</li>
                  <li>[修改] 修正了编辑页面的checkbox类型的值保持错误的问题</li>
                  <li>[修改] 把三级地区联动改成可以二级联动</li>
                  <li>[修改] 把设置功能菜单的方式由树状CURD改为CodeList方式的CURD</li>
                  <li>[新增] 增加关闭当前TAB的函数，供模块的按钮调用，用来替换BJUI的关闭按钮</li>
                  <li>[新增] 增加了客户资料的功能模块</li>
              </ul>
          </div>
      </div>
      <div class="am-panel am-panel-default am-margin-lg">
          <div class="am-panel-hd"><h2>V1.0.1 -- 2016.08.06</h2> </div>
          <div class="am-panel-bd">
              <ul>
                  <li>[修改] 把页面展示模块类从 cmpage 移入 common，并调整相应继承类中的路径</li>
                  <li>[新增] 新增了登录页面的JS验证码的功能</li>
                  <li>[新增] 新增当前用户修改密码的功能</li>
                  <li>[新增] 新增了前端介绍框架的网站页面，包括首页、文档、日志等，采用AmazeUI</li>
              </ul>
          </div>
      </div>

    <div class="am-panel am-panel-default am-margin-lg">
      <div class="am-panel-hd"><h2>V0.8.8 -- 2016.07.11</h2> </div>
      <div class="am-panel-bd">
        <ul>
          <li>[修改] 修正了角色与权限模块显示速度慢的问题</li>
          <li>[修改] 把原先用存储过程实现的递归取树状数据的方式改为用JS递归函数实现</li>
          <li>[新增] 实现了模块查询和编辑页面的查找带回功能</li>
            <li>[修改] 把各个模块中的query(sql)改为TkinJS的CRUD方法，便于实现多数据库的连接</li>
        </ul>
      </div>
    </div>
    <div class="am-panel am-panel-default am-margin-lg">
      <div class="am-panel-hd"><h2>V0.8.6 -- 2016.06.28</h2> </div>
      <div class="am-panel-bd">
        <ul>
          <li>[新增] 实现了用户登录的页面和逻辑</li>
          <li>[新增] 实现了账套和用户模块</li>
          <li>[新增] 实现了用户登录验证账套权限的功能</li>
        </ul>
      </div>
    </div>
    <div class="am-panel am-panel-default am-margin-lg">
      <div class="am-panel-hd"><h2>V0.8.5 -- 2016.06.10</h2> </div>
      <div class="am-panel-bd">
        <ul>
          <li>[修改] 修正地区联动不能正常显示的问题</li>
          <li>[新增] 实现日志查询模块</li>
          <li>[新增] 实现登录查询模块</li>
        </ul>
      </div>
    </div>
      <div class="am-panel am-panel-default am-margin-lg">
          <div class="am-panel-hd"><h2>V0.8.4 -- 2016.05.30</h2> </div>
          <div class="am-panel-bd">
              <ul>
                  <li>[修改] 把缓存连接改为 redis ,测试通过</li>
                  <li>[新增] 实现通过配置模块名称和方法来调用，获取数据后在模块列表或者编辑页面展示</li>
                  <li>[新增] 增加地区表并实现相关方法</li>
              </ul>
          </div>
      </div>
      <div class="am-panel am-panel-default am-margin-lg">
          <div class="am-panel-hd"><h2>V0.8.3 -- 2016.05.10</h2> </div>
          <div class="am-panel-bd">
              <ul>
                  <li>[修改] 代码于参数（t_code）相关的数据进行缓存，并提供相应方法供模块调用</li>
                  <li>[新增] 用户（vw_user）相关的数据进行缓存，并提供相应方法供模块调用</li>
                  <li>[新增] 首页默认打开模块设置页面</li>
              </ul>
          </div>
      </div>
      <div class="am-panel am-panel-default am-margin-lg">
          <div class="am-panel-hd"><h2>V0.8.0 -- 2016.04.07</h2> </div>
          <div class="am-panel-bd">
              <ul>
                  <li>[新增] 修改首页，增加QQ联系方式等</li>
                  <li>-----</li>
                  <li>[修改] 调整显示的菜单项</li>
                  <li>[新增] 代码与参数页面的通用化</li>
                  <li>[新增] 代码与参数页面的树状展示，采用ztree</li>
                  <li>-----</li>
                  <li>[新增] 新增模块emp用于测试模块的分页列表展示、新增、编辑、查看、删除操作，测试通过</li>
                  <li>[新增] 模块显示列的设置页面</li>
                  <li>[新增] 模块编辑列的设置页面</li>
                  <li>[新增] 模块按钮的设置页面</li>
                  <li>[新增] 模块查询列的设置页面</li>
                  <li>[新增] 模块主信息的设置页面</li>
                  <li>-----</li>
              </ul>
          </div>
      </div>

  </div>
</div>

<div class="amz-toolbar" id="amz-toolbar">
    <a href="#top" title="回到顶部" class="am-icon-btn am-icon-arrow-up" id="amz-go-top"></a>
    <a href="/admin/index/faq" title="常见问题" class="am-icon-faq am-icon-btn am-icon-question-circle"></a>
</div>


<% include _index_footer.html %>


<script src="http://s.amazeui.org/assets/2.x/js/handlebars.min.js"></script>
<script src="http://s.amazeui.org/assets/2.x/js/main.min.js"></script>


</body>
</html>
